/*******************************************
	GLOBAL
*********/
html {
	background: whiteSmoke;
}

body {
	background: #fff;
	}
	
	body > .container,
	body > .container-fluid {
		min-width: 960px;
		padding-top: 141px;
	}


/*******************************************
	BOOTSTRAP OVERRIDES
*********/
.well-white {
	background: #fff;
}

.well-dark {
	background: #333;
	border-color: #000;
}

.last {
	margin-bottom: 0 !important;
}

.small {
	font-size: 11px;
}

.quite {
	color:#bbb;
}

.no-wrap {
	white-space: nowrap;
}

.text-right {
	text-align: right;
}

.nav-list {
	padding-left: 0;
	padding-right: 0;
	}
	
	.nav-list > li > a {
		padding: 3px 10px;
	}
	
.label-luck {
	font-size: 14px;
	font-weight: normal;
}

.form-horizontal .control-label {
	width: 110px;
}

.form-horizontal .controls {
	margin-left: 130px;
}


/*******************************************
	Definition Lists
*********/
dl {}

	dl dt {
		background: #fff;
		display: block;
		float: left;
		line-height: 30px;
		padding-right: 10px;
		width: auto;
	}
	
	dl dd {
		background: url(../img/dl-dots.gif);
		line-height: 30px;
		text-align: right;
		}
		
		dl dd span {
			background: #fff;
			line-height: 30px;
			padding-left: 10px;
		}


/*******************************************
	TOP INFORMATIONAL BAR & LOGO
*********/
#info-bar {
	height: 121px;
	overflow: hidden;
	}
	
	#info-bar .navbar-inner {
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	
	#info-bar .brand {
		background: url(/img/emclogo.png) no-repeat 0 0;
		display: block;
		float: left;
		font-size: 0;
		height: 0;
		line-height: 0;
		margin-left: 20px;
		padding: 120px 0 0 0;
		width: 237px;
	}
	
	#info-bar .stats {
		background: #333;
		border: 1px solid #000;
		color: #fff;
		float: right;
		margin: 18px 20px 0 -10px;
		padding: 10px 0 10px 10px;
		
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		
		-webkit-box-shadow: 0 1px 4px #000;
 		-moz-box-shadow: 0 1px 4px #000;
		box-shadow: 0 1px 4px #000;
		}
		
		#info-bar .stats h5 {
			margin: 0;
			}
			
			#info-bar .stats h5 span {
				font-size: 11px;
				font-weight: normal;
			}
		
		#info-bar .stats label, #info-bar .stats p {
			font-size: 12px;
			margin: 0;
			margin-right: 10px;
		}
		
		#info-bar .stats label {
			color: #ccc;
			}
			
			#info-bar .stats label:after {
				content: " :";
			}
		
		#info-bar .stats p {
			font-weight: bold;
		}


/*******************************************
	NAVIGATION
*********/
#navigation {}
	
	#navigation .navbar-inner {
		background: -webkit-linear-gradient(top, #BF0000, #AA0000);
	}
	
	#navigation .nav > li > a {
		color: #fff;
		text-shadow: none;
	}

	#navigation .nav li.dropdown > .dropdown-toggle .caret {
		border-top-color: #fff;
		border-bottom-color: #fff;
	}
	
	#navigation .nav li.dropdown.open > .dropdown-toggle,
	#navigation .nav li.dropdown.active > .dropdown-toggle,
	#navigation .nav li.dropdown.open.active > .dropdown-toggle {
		background: #d80000;
	}
	
	#navigation .nav > .active > a,
	#navigation .nav > .active > a:hover,
	#navigation .nav > .active > a:focus {
	  color: #fff;
	  text-decoration: none;
	  background-color: #d80000;
	  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
		 -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
			  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	}
	
	#navigation .dropdown-menu li > a:hover,
	#navigation .dropdown-menu li > a:focus,
	#navigation .dropdown-submenu:hover > a {
		background: #d80000;
	}
		


/*******************************************
	LOGIN
*********/
#login-form h4 span {
	font-size: 14px;
	font-weight: normal;
}

/*******************************************
	HOME
*********/
.home #login-form {}
	
	.home #login-form input[type=text],
	.home #login-form input[type=password] {
		width: 94%;
	}
	
	.home .asic-ready {
		min-height:130px;
		background: whiteSmoke url(../img/asic-ready.png) no-repeat 90% 20px;
		}
		
		.home .asic-ready * {
			padding-right:200px;
		}


/*******************************************
	FOOTER
*********/
#footer {
	background: whiteSmoke;
	border-top:1px solid #e3e3e3;
	margin-top: 100px;
	padding:20px 0 60px;
}





